{% extends "base.html" %}
{% block content %}
    <div class="jumbotron" xmlns="http://www.w3.org/1999/html">
        <div class="container text-center">
            <h1>Welcome to SquadXML</h1>
            <p>SquadXML is a website created by WhatsCS of the 32nd Ranger Battalion. It's purpose
            is to provide a private light weight web app to help in managing members of an ArmA 3
            Community for a squad xml document.</p>
            </br>
            <p>If you have any questions please refer to the github issue tracker located
                <a href = "https://github.com/WhatsCS/SquadXML/issues">here</a></p>
        </div>
    </div>
{% endblock %}